<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for '{{ particular_search.query }}'</title>
</head>
<body>
    <h1>Search query: '{{ particular_search.query }}' </h1>

    {% if product_count > 0 %}
        <h2><a href="{% url 'update_prices' particular_search.pk %}">Update prices</a></h2>

        <h2>Products:</h2>
        <table>
            {% for product in products %}
                <tr>
                    <td>
                        <img src="{{ product.img_url }}" width="100px">
                    </td>
                    <td>
                        <h3><a href="{{ product.url }}">{{ product.name }}</a></h3>
                        <h4>Prices ({{ product.price_date|date:"d-M-Y H:i" }})</h4>
                        <table>
                            <tr>
                                <th>
                                    ARS
                                </th>
                                <th>
                                    {{ product.price|floatformat:2 }}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    USD
                                </th>
                                <th>
                                    {{ product.price_oficial|floatformat:2 }}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    USD(sol)
                                </th>
                                <th>
                                    {{ product.price_solidario|floatformat:2 }}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    USD(blue)
                                </th>
                                <th>
                                    {{ product.price_blue|floatformat:2 }}
                                </th>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div>{{ div|safe }}</div>

    {% else %}
        <h2>There are no products for that query in MercadoLibre (or the search results format is
        not yet supported)</h2>

        <h3><a href="{% url 'delete_search' particular_search.pk %}">Delete Search</a> </h3>
    {% endif %}

    <h2><a href="{% url 'all_searches' %}">All searches</a></h2>

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.3.min.js"
        crossorigin="anonymous"></script>
    {{ script|safe }}
</body>
</html>